
@{
    ViewData["Title"] = "Selskaper_Roller";
    Layout = "~/Views/Shared/_StyretLayoutHorizontal.cshtml";
}


<div class="row">
    <div class="col-lg-3 bg-primary well s-box s-hightlight js-load-selskap" id="div1" style="margin:4px">
        <form method="post" action="/Selskap/Index" data-parsley-validate="" novalidate="" id="form1">
            <div class="form-group">
                Selskap 1<br />
                Rolle 1
            </div>
        </form>
    </div>

    <div class="col-lg-3 bg-primary well s-box s-hightlight" style="margin:4px">
        <form method="post" action="" data-parsley-validate="" novalidate="">
            <div class="form-group">
                Selskap 1<br />
                Rolle 1
            </div>
        </form>
    </div>

    <div class="col-lg-3 bg-primary well s-box s-hightlight" style="margin:4px">
        <form method="post" action="" data-parsley-validate="" novalidate="">
            <div class="form-group">
                Selskap 1<br />
                Rolle 1
            </div>
        </form>
    </div>

    <div class="col-lg-3 bg-primary well s-box s-hightlight" style="margin:4px">
        <form method="post" action="" data-parsley-validate="" novalidate="">
            <div class="form-group">
                Selskap 1<br />
                Rolle 1
            </div>
        </form>
    </div>
</div>
   