<!-- START Top Navbar-->
<nav class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a href="#/" class="navbar-brand">
            <div class="brand-logo">
                <img src="~/images/logo.png" alt="App Logo" class="img-responsive" />
            </div>
            <div class="brand-logo-collapsed">
                <img src="~/images/logo-single.png" alt="App Logo" class="img-responsive" />
            </div>
        </a>
    </div>
    <!-- END navbar header-->
    <!-- START Nav wrapper-->
    <div class="nav-wrapper">
       
        <!-- START Right Navbar-->
        <ul class="nav navbar-nav navbar-right">
            <!-- Switch roller icon -->
            <li class="visible-lg">
                <a href="#">
                    <em class="icon-directions"></em>
                </a>
            </li>
            <!-- User icon -->
            <li class="visible-lg">
                <a href="#">
                    <em class="icon-user"></em>
                </a>
            </li>
            <!-- Logout icon-->
            <li>
                <a href="#">
                    <em class="icon-logout"></em>
                </a>
            </li>
        </ul>
        <!-- END Right Navbar-->
    </div>
    <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar-->